.article__component {
  max-width: 420px;
  width: 47%;
  height: 600px;
  margin-bottom: 9%;
  padding-left: 2%;
  padding-right: 2%;
}

.article__component>* {
  flex: 1 1 160px;
  color: #626262;
}

.link {
  display: block;
  color: #626262;
  text-decoration: none;
}

.link:hover {

  background-color: #333333;
  color: #f0f0f0;
  transition: background-color 400ms linear;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

.text {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.article__component_category-imitation {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4ad9e;
  font-size: 14px;
}

.article__component_img-imitation {
  width: 100%;
  height: 58.37%;
  background-color: #dad3d3;
}

.text_title {
  text-transform: uppercase;
  font-size: 20px;
}

.text_anotation {
  text-transform: none;
  text-align: justify;
}

@media screen and ( max-width: 1143px) {
  .article__component {
    width: 270px;
    height: 500px;
  }
}

@media screen and ( max-width: 720px) {
  .article__component {
    width: 100%;
    padding: 0;
  }
}
