<header class="header">
  <img class="logo" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHcAAAAXBAMAAADD483jAAAAAXNSR0IB2cksfwAAADBQTFRFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAWj8cCwAAABB0Uk5TABEimf9mVarudzPM3buIRHLNaBwAAAF8SURBVHicndOxTsJAHAbwD5JSgUqMYXBkdHTgBYgVr7QCj+BwMVGXDjwAJAyOHTo5OfAADLcYHIhhNg59AAYfgIHB0f+1tkCvZegNvd6X73fNNS1QeJwXp0B7CO7SrHfl6sSk4cm75g1dZpPDcK+JqnBe2Rl4T/bS2JHhOIV3zVJAoUXRLS1G0X7w3WhuynqEd+Fe85R52qpDkfmGmqngSQbeNf1P2qYvo2/oCrb7WThpCo+2oaPxjy62izQe0FMUnDTLDKhb0w34uw3xnMadkavipKnR6fk88OiyerDrCr4cqDhpNuhQ4v5nTZG/6Km4YWfguKlbqNrwrygyTFfFpelQxXGTsNGTOZ9XWUvF8JcqjpuEKQyfjC9kYMNScdxsXJdeWgjPTKsMrLGtiv+b2p18ZeHbzsYQQS4us1/6AlebfMzNXAwx9VBxkI/1I5gTrPeP4NoRbDCvIpYH0Uz+um6M0R4fhqmm0zqGL/KxeAzYGsVGxS4Iw/EUTX9hLcMV6e34LgAAAABJRU5ErkJggg==" alt="logo">
  <nav>
    <ul class="menu_list">
      <li><a class="link" href="#">lifestyle</a></li>
      <a class="link" href="#"><li>photodiary</li></a>
      <a class="link" href="#"><li>music</li></a>
      <a class="link" href="#"><li>travel</li></a>
    </ul>
  </nav>
</header>
