<main class="gallery">
  <p class="text">you may also like</p>
  <div class="flex">
        <a class="link link_block" href="#">
          <div class="article__component_img-imitation"></div>
          <h2 class="link link_text">Cold winter days</h2>
        </a>
    <a class="link link_block" href="#">
      <div class= "article__component_img-imitation"></div>
      <h2 class="link link_text">Cold winter days</h2>
    </a>
    <a class="link link_block" href="#">
      <div class="article__component_img-imitation"></div>
      <h2 class="link link_text">Cold winter days</h2>
    </a>
  </div>
</main>
